<!DOCTYPE html>
<html>
  <head>
    <title>redirect to OAuth</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
  </head>

  <body>
    <%= content_tag :div, style:"display:none", id: "url-data", data: {permission_url: @accept_permissions_url, api_key: @api_key, shop_name: @shop_name} do%>
    <% end %>
    <%= javascript_pack_tag 'app_bridge_auth_redirect'%>
  </body>

</html>


