<%= content_tag :div, style:"display:none", id: "url-data", data: {api_key: @api_key, shop_origin: @shop_origin} do%>
<% end %>
<h1>Hello World</h1>
<p>Find me in app/views/app/index.html.erb</p>

<%= javascript_pack_tag 'app_bridge_init'%>
